# Unity
/[Ll]ibrary
/[Ll]ogs
/[Oo]bj
/[Tt]emp
/[Uu]serSettings

# Mac OS
/**/.DS_Store

# Visual Studio
/.vs
/.vsconfig
/*.sln
/*.sln.*
/*.csproj

# Rider
/**/.idea

# Copilot
/.github
Assets/Fonts/Specific/王汉宗魏碑.asset
Assets/Fonts/Specific/王汉宗隶书.asset
Assets/Fonts/Specific/SourceHanSansCN.asset
